$color-filenav: #434B52FF

app-filegroup, .filegroup-container
  width: 100%

.container
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  min-height: 100%
  box-sizing: border-box
  padding: 0.75em 0
  background-color: #D8EAF7FF
  border-top-left-radius: 30px
  border-bottom-left-radius: 30px
  color: $color-filenav

.filegroup-add-container
  display: flex
  flex-direction: column
  align-items: center
  align-self: flex-end
  width: 100%
  height: auto
  margin-top: auto


.filegroup-add-button
  margin-top: 8%
  font-size: 1.2rem
  color: #798895
  font-family: inherit
  width: 1.4rem
  text-align: center
  font-weight: 800
  padding: 0.7rem
  cursor: pointer
  position: relative
  border-radius: 100px
  background: linear-gradient(225deg, #d8eaf7, #d9f3ff)
  box-shadow: -1px 1px 5px 0px #ADC1D0, 1px -1px 5px 0px rgba(233, 255, 255, 0.25)
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-duration: 400ms
  transition-property: color

.filegroup-add-button, .filegroup-add-button-text
  margin: 0
