$font-family: Helvetica, Arial, sans-serif
$background-color-file: #E5F1FAFF
$color-file: #343A3FFF

//html
//  font-family: $font-family

.content
  display: flex
  flex-direction: column
  max-width: 100vw
  height: 100vh
  background-color: aqua
  font-family: $font-family

.filecontainer-container
  display: flex
  height: 100%

.file-container
  width: 75%
  height: 100%
  background-color: $background-color-file

.filenav-container
  width: 25%
  height: 100%
