<div class="container">
  <div class="items">
    <div class="logo">
      <h1>LOGIN</h1>
    </div>
    <div class="username">
      <input placeholder="username" type="text" (change)="onChange($event)">
    </div>
    <div class="password">
      <input placeholder="password" type="password" (change)="onChange($event)">
    </div>
    <div class="button">
      <button id="btn" (click)="onSave()">
        Login
      </button>
      <button id="btnr" (click)="onRegister()">
        Register
      </button>
    </div>
  </div>
</div>
