$border-width: 2px
$border-color: #b2c3d1

$color-delete-add: #343A3F40
$color-delete-add-hover: #343A3FBF

.question
  width: 100%
  padding: 12px 20px
  font-size: 1.5rem
  font-weight: bold
  margin-bottom: 3%
  border-radius: 10px
  border: $border-width solid transparent
  transition: all 0.15s ease-in-out
  background-color: transparent
  margin-left: 3%

.content
  display: flex
  flex-direction: row
  width: 70%
  height: 20%

span:focus
  border: $border-width solid $border-color
  outline: none

.delete
.delete-group
  width: 2rem
  height: 2rem
  font-size: 1.5rem
  transform: rotate(45deg)
  color: $color-delete-add
  text-align: center
  transition: all 0.15s ease-in-out
  border: none
  background-color: transparent


.delete:hover
  cursor: pointer
  color: $color-delete-add-hover
.delete-group:hover
  opacity: 1
