.question
  width: 70%
  height: 50%
  padding: 12px 20px
  resize: none
  font-size: 1.5rem
  font-weight: bold
  margin-bottom: 3%

.content
  display: flex
  flex-direction: row
  width: 70%
  height: 20%

span:focus
  border: 3px solid #84909a
  outline: none

.delete
  width: 2rem
  height: 2rem
  font-size: 1.5rem
  text-decoration: none
  text-align: center
  border: none
  opacity: 0.2

.delete:hover
  opacity: 1
