<div class="content">
  <!--  <app-title></app-title>-->
  <!--  <app-title></app-title>-->
  <!--  <app-generated-question></app-generated-question>-->
  <!--  <app-textarea></app-textarea>-->
  <!--  <div *ngFor="let textfield of textfields">-->
  <!--    <div *ngIf="textfield.textfieldtype==textfieldTypeEnum.Text">-->
  <!--      <app-textarea></app-textarea>-->
  <!--    </div>-->
  <!--    <div *ngIf="textfield.textfieldtype==textfieldTypeEnum.Question">-->
  <!--      <app-question></app-question>-->
  <!--    </div>-->
  <!--    <div *ngIf="textfield.textfieldtype==textfieldTypeEnum.GeneratedQuestion">-->
  <!--      <app-generated-question></app-generated-question>-->
  <!--    </div>-->
  <!--  </div>-->


  <div *ngIf="currentFile">
    <!--    <app-title [title]="currentFile.file_name"></app-title>-->
    <div *ngFor="let textBlock of currentFile.text_blocks;let i = index;">
      <div *ngIf="textBlock.block_type =='title'">
        <app-title [title]="textBlock.block_content"
                   (titleChange)="onTitleChange($event)" class="title-intrafile"></app-title>
      </div>
      <div *ngIf="textBlock.block_type=='generated_question'">
        <app-generated-question [genQuestion]="textBlock.block_content"
                                (genQuestionChange)="onGenQuestionChange($event)"></app-generated-question>
      </div>
      <div *ngIf="textBlock.block_type=='question'">
        <app-question [question]="textBlock.block_content"
                      (questionChange)="onQuestionChange($event)"></app-question>
      </div>
      <div *ngIf="textBlock.block_type=='text_area'">
        <app-textarea [textArea]="textBlock.block_content"
                      (textAreaChange)="onTextAreaChange($event)"></app-textarea>
      </div>
    </div>

    <div class="dropup">
      <div class="dropbtn">
        <p class="dropbtn-text">+</p>
      </div>
      <div class="dropup-content">
        <button (click)="addNewTextfield(textfieldTypeEnum.Text)">Text</button>
        <button (click)="addNewTextfield(textfieldTypeEnum.Question)">Question</button>
        <button (click)="addNewTextfield(textfieldTypeEnum.GeneratedQuestion)">Generated Question</button>
      </div>
    </div>

    <button (click)="saveFile()" class="save">Save</button>
  </div>


</div>




