<div class="content">
  <!--  <app-title></app-title>-->
  <!--  <app-title></app-title>-->
  <!--  <app-generated-question></app-generated-question>-->
  <!--  <app-textarea></app-textarea>-->
  <!--  <div *ngFor="let textfield of textfields">-->
  <!--    <div *ngIf="textfield.textfieldtype==textfieldTypeEnum.Text">-->
  <!--      <app-textarea></app-textarea>-->
  <!--    </div>-->
  <!--    <div *ngIf="textfield.textfieldtype==textfieldTypeEnum.Question">-->
  <!--      <app-question></app-question>-->
  <!--    </div>-->
  <!--    <div *ngIf="textfield.textfieldtype==textfieldTypeEnum.GeneratedQuestion">-->
  <!--      <app-generated-question></app-generated-question>-->
  <!--    </div>-->
  <!--  </div>-->


  <div *ngIf="currentFile">
    <!--    <app-title [title]="currentFile.file_name"></app-title>-->
    <div *ngFor="let textBlock of currentFile.text_blocks;let i = index;">
            {{currentFile.text_blocks[i].block_content}}
      <!--      <h4>{{ textBlock.block_type }} {{ textBlock.block_content }}</h4>-->
      <div *ngIf="textBlock.block_type =='title'">
        <app-title [title]="textBlock.block_content" (titleChange)="onTitleChange($event)"
                   class="title-intrafile"></app-title>
      </div>

      <div *ngIf="textBlock.block_type=='generated_question'">
        <app-generated-question [genQuestion]="textBlock.block_content"
                                (genQuestionChange)="onGenQuestionChange($event)"></app-generated-question>
        <h4>{{textBlock.block_content}}</h4>
      </div>
      <!--      <div *ngIf="textBlock.block_type=='question'">-->
      <!--        <app-question></app-question>-->
      <!--      </div>-->
      <!--      <div *ngIf="textBlock.block_type=='text_area'">-->
      <!--        <app-textarea></app-textarea>-->
      <!--      </div>-->
    </div>
    <!--  <div class="dropup">-->
    <!--    <button class="dropbtn">Add File</button>-->
    <!--    <div class="dropup-content">-->
    <!--      <button (click)="addNewTextfield(textfieldTypeEnum.TextArea)">Text</button>-->
    <!--      <button (click)="addNewTextfield(textfieldTypeEnum.Question)">Question</button>-->
    <!--      <button (click)="addNewTextfield(textfieldTypeEnum.GeneratedQuestion)">Generated Question</button>-->
    <!--    </div>-->
    <!--  </div>-->
    <button (click)="saveFile()" class="save">{{ updatedTitle }}</button>
  </div>


</div>

