.content
  margin-left: 3%

.dropbtn
  margin-top: 5%
  font-size: 18px
  color: #000000
  font-family: inherit
  font-weight: 800
  cursor: pointer
  position: relative
  border: none
  background: none
  text-transform: uppercase
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-duration: 400ms
  transition-property: color

.dropbtn:focus,
.dropbtn:hover
  color: #626161


.dropbtn:focus:after,
.dropbtn:hover:after,
.dropup-content:focus:after,
.dropup-content:hover:after
  width: 100%
  left: 0%


.dropbtn:after, .dropup-content:after
  content: ""
  pointer-events: none
  bottom: -2px
  left: 50%
  position: absolute
  width: 0%
  height: 2px
  background-color: #626161
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-duration: 400ms
  transition-property: width, left



.dropup
  margin-top: 5%
  position: relative
  display: inline-block



.dropup-content
  display: none
  position: absolute
  bottom: 2rem
  background-color: black
  width: 22rem
  min-height: 3rem
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1
  border: none

.dropup-content button
  display: flex
  text-decoration: none
  padding: 12px 16px
  background-color: #E5F1FAFF
  color: black
  flex-grow: 1
  font-family: inherit
  font-weight: 750
  font-size: 16px
  border: none

.dropup-content button:hover
  color: #626161
.dropup:hover .dropup-content
  display: flex
  flex-direction: row

.textarea
  resize: none
  overflow: hidden
.save
  margin-left: 90%
  font-size: 18px
  color: #000000
  font-family: inherit
  font-weight: 800
  cursor: pointer
  position: relative
  border: none
  background: none
  text-transform: uppercase
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-duration: 400ms
  transition-property: color

.save:focus,
.save:hover
  color: #626161


.save:focus:after,
.save:hover:after
  width: 100%
  left: 0%


.save:after
  content: ""
  pointer-events: none
  bottom: -2px
  left: 50%
  position: absolute
  width: 0%
  height: 2px
  background-color: #626161
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-duration: 400ms
  transition-property: width, left




